<a href="#" class="product-card__wrapper-v2 custom-card">
  <div class="product-card__img-wrapper-v2">
    <img src="{{ product.featured_image |  img_url: 'medium' }}" class="product-card__img-v2">
  </div>
  <div class="product-card__info-v2">
    <div class="product-card__rating-v2">
      <div class="product-card__rating-star-v2">
        {% render 'icon-star' %}
        {% render 'icon-star' %}
        {% render 'icon-star' %}
        {% render 'icon-star' %}
        {% render 'icon-star' %}
      </div>
      <span class="poppins-regular">100 Reviews</span>
    </div>
    <h6></h6>
  </div>
</a>