<a href="#" class="product-card__wrapper-v2 custom-card">
  <div class="product-card__img-wrapper-v2">
    <img src="{{ product.featured_image |  img_url: 'medium' }}" class="product-card__img-v2">
  </div>
  
</a>