.product-card__wrapper-v2 {
  display: flex;
  flex-direction: column;
  width: 170px;
  height: 290px;
  border: .6px solid #C1C1C1;
  align-items: center;
  text-decoration: none;
}

.product-card__img-wrapper-v2 {
  display: flex;
  width: 155px;
  height: 125px;
  align-items: center;
  justify-content: center;
}

.product-card__img-v2 {
  width: 155px;
  height: 125px;
  object-fit: cover;
}

.product-card__rating-v2 {
  display: flex;
  align-items: center;
  justify-content: start;
}

.product-card__rating-star-v2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card__rating-star-v2 svg {
  
}




