.product-card__wrapper-v2 {
  display: flex;
  flex-direction: row;
  width: 170px;
  height: 290px;
  border: .6px solid #C1C1C1;
  align-items: center;
  text-decoration: none;
  flex-wrap: wrap;
  gap: 10px;
}

.product-card__img-wrapper-v2 {
  display: flex;
  width: 155px;
  height: 125px;
  align-items: center;
  justify-content: center;
}

.product-card__img-v2 {
  width: 155px;
  height: 125px;
  object-fit: cover;
}

.product-card__rating-v2 {
  display: flex;
  align-items: center;
  justify-content: start;
}

.product-card__rating-star-v2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card__rating-star-v2 svg {
  width: 10px;
  height: 10px;
}

.product-card__rating-v2 span {
  color: #364241;
  font-size: 1.2rem;
}

.product-card__title-v2  {
  font-size: 1.4rem;
  color: #364241;
  text-align: start;
  margin: 0;
}

.product-card__vendor-v2 {
  font-size: 8.7px;
  color: #737373;
  margin: 0;
}

.product-card__price-v2 {
  color: #008780;
  font-size: 12px;
  margin: 0;
}

.product-card__atc-btn-v2 {
  width: 20px;
  height: 20px;
  border: 1px solid #008780;
  background-color: #008780;
  outline: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card__atc-btn-v2 svg {
  width: 14px;
  height: 14px;
  background: #008780;
}





