.iwt__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 18px;
  overflow: hidden;
}

.iwt__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 355px;
  height: 280px;
}

.iwt__img {
  width: 355px;
  height: 280px;
  object-fit: contain;
}

.iwt__info-wrapper {
  display: flex
}