.iwt__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 18px;
  overflow: hidden;
}

.iwt__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 355px;
  height: 280px;
}

.iwt__img {
  width: 355px;
  height: 280px;
  object-fit: contain;
}

.iwt__info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2.5rem 2.5rem;
  gap: 1rem;
}

.iwt__title {
  font-size: 24px;
  text-align: center;
  margin: 0;
}

.iwt__info-wrapper p {
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.iwt__button {
  background: rgb(var(--color-button));
  color: rgb(var(--color-button-text));
  border-radius: 80px;
  padding: 1rem 8rem;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-size: 24px;
}

@media screen and (min-width: 789px) {
  .iwt__img-wrapper {
    height: 385px;
    width: auto;
  }

  .iwt__img {
    height: 385px;
    width: auto;
    object-fit: cover;
  }
}

