.footer{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:  column;
  padding: 2rem;
}

.footer__brand-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.description-desktop {
  display: none;
}

.footer__payment-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 25px;
  margin-top: 2.5rem;
}

.footer__payment-img {
  width: 350px;
  height: 25px;
  object-fit: contain;
}

.footer__menu-item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer__menu-item {
  font-size: 24px;
}

.footer__menu-child_item-wrapper {
  display: flex;
  justify-content: center
}